.firstBackground {

    background-image: url("firstBackground.jpg");
    background-attachment: fixed ;
    background-origin: content-box;
    background-size:cover;
}

.secondBackground {
    background-image: url("secondBackground.jpg");
    background-attachment: fixed;
    background-origin: content-box;
    background-size:cover;
}

.firstFont {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #008856;
}

.secondFont {
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    font-variant: small-caps;
    color: #3a60ce;
}
img#title {
    width: 100%;
    height: auto;
}

h3 {
    text-align: center;
}

input {
    display: block;
    margin-top: 5px;
}

dl {
    margin: auto;
    padding: 10px;
}

dt {
    border-bottom: 1px solid black;
    background-color: rgb(243, 253, 255);
    margin-top: 15px;
}
a:link, a:visited {
    font-size: 12px;
    background-color: white;
    color: black;
    border: 1px solid #44806a;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #6c8074;
    color: white;
}

a:hover {
    color: #444445;
}

input[type=submit] {
    font-size: 12px;
    width: 20%;
    background-color: #00946d;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #44806a;
}





/*classes styles*/

.done .todo-name {
    text-decoration: line-through;
    margin: 10px;
}

.toDo .todo-name {
    text-decoration: none;
    margin: 10px;
}

.content {
    text-align: center;
    margin:auto;
    width: 30%;
}

.btn-group button {
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}
button#changeBackground{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 49%;
    text-align: center;
    border: 1px solid #a5a5a5;
    outline: none;
    transition: 0.4s;
}
button#changeBackground.active, button#changeBackground:hover {
    background-color: #ddd;
}

button#changeFont{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 49%;
    text-align: center;
    border: 1px solid #a5a5a5;
    outline: none;
    transition: 0.4s;
}
button#changeFont.active, button#changeFont:hover {
    background-color: #ddd;
}

button.accordion {
    background-color: #f7fffa;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #a0a0a0;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: #fcfffa;
    display: none;
}
.toggler {
    width: 100%;
    /*height: 200px;*/
    position: relative;
}
.efectButton {
    padding: .5em 1em;
    text-decoration: none;
}
.effect {
    position: relative;
    background: #fff;
}
.effect h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center; }

.usual{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 49%;
    text-align: center;
    border: 1px solid #a5a5a5;
    outline: none;
    transition: 0.4s;
}
.usual.active, .usual:hover {
    background-color: #ddd;
}

