{% extends "skeleton.html" %}

{% block title %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% block editButtons %}{{ super() }}{% endblock %}
    <dl>
        <div>
        {% for item in ToDoThings %}
          {% if item.done %}
                    <dt>
                        <div class="done" class="toggler" >
                            <div class = "effect" >
                                <button class="accordion"><span class="todo-name" class="firstFont">{{ item.name }}</span></button>
                                <div class="panel">
                                    <a href="/toggle/{{ item.id }}"><img src="static/toDo.png" width="12" height="12"></a>
                                    <button class="edit" id="{{item.id}}"><img src="static/edit.png" width="12" height="12"></button>
                                    <a href="/remove/{{ item.id }}"><img src="static/trash.png"  width="12" height="12"></a>
                                </div>
                            </div>
                        </div>
                    </dt>
          {% else %}
                    <dt>
                        <div class="toDo" >
                                <button class="accordion"><span class="todo-name" class="firstFont">{{ item.name }}</span></button>
                                <div class="panel">
                                    <div class="editThingToDo" id="{{ item.id }}">
                                    </div>
                                    <a href="/toggle/{{ item.id }}"><img src="static/done.png" width="12" height="12"></a>
                                    <button class="edit" id="{{ item.id}}"><img src="static/edit.png" width="12" height="12"></button>
                                    <a href="/remove/{{ item.id }}"><img src="static/trash.png" width="12" height="12"></a>
                                </div>
                        </div>
                    </dt>
          {% endif %}
        {% endfor %}
            </br>
            <div>
                <button class="effectButton" >SHOW/HIDE DONE TASKS</button>
                <button class="add, usual">ADD</button>
                <div class="thingToDo">
                </div>
            </div>

        </div>
        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function(){
                    /* Toggle between adding and removing the "active" class,
                    to highlight the button that controls the panel */
                    this.classList.toggle("active");

                    /* Toggle between hiding and showing the active panel */
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                }
            }
            $( ".done" ).hide()
            $(function() {
                var state = true;
                $( ".effectButton").on( "click", function() {
                  if ( state ) {
                    $( ".done" ).toggle();
                  } else {
                    $( ".done" ).toggle();
                  }
                  state = !state;
                });
            });

            $(function() {
                $( '.add, .usual' ).click(function() {
                     return addThingToDo();
                });
            });
            $(function() {
                var id = $('#id')
                $( '.edit' ).click(function() {
                     return editThingToDo();
                });
            });
        </script>
    </dl>
{% endblock %}

