{% extends "skeleton.html" %}

{% block title %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% block editButtons %}{{ super() }}{% endblock %}
    <dl>
        <div>
        {% for item in ToDoThings %}
          {% if item.done %}
                    <dt>
                        <div class="done">
                                <button class="accordion"><span class="todo-name">{{ item.name }}</span></button>
                                <div class="panel">
                                    <p> Wrzucic item description item.description</p>
                                </div>
                        </div>
                    </dt>
                    <div>
                      <a href="/toggle/{{ item.id }}"><img src="static/todo.png" width="12" height="12"></a>
                      <a href="/edit/{{ item.id }}"><img src="static/edit.png"   width="12" height="12"></a>
                      <a href="/remove/{{ item.id }}"><img src="static/trash.png"  width="12" height="12"></a>
                    </div>
          {% else %}
                    <dt>
                        <div class="toDo" class="toggler">
                            <div class = "effect">
                                <button class="accordion"><span class="todo-name">{{ item.name }}</span></button>
                                <div class="panel">
                                    <p> Wrzucic item description item.description</p>
                                </div>
                            </div>
                        </div>
                    </dt>
                    <div>
                      <a href="/toggle/{{ item.id }}"><img src="static/done.png" width="12" height="12"></a>
                      <a href="/edit/{{ item.id }}"><img src="static/edit.png" width="12" height="12"></a>
                      <a href="/remove/{{ item.id }}"><img src="static/trash.png" width="12" height="12"></a>
                    </div>

          {% endif %}
        {% endfor %}
            </br>
            <div>
                <button class="efectButton">Edit</button>
                <a href="/add">Add new </a>
            </div>

        </div>
        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function(){
                    /* Toggle between adding and removing the "active" class,
                    to highlight the button that controls the panel */
                    this.classList.toggle("active");

                    /* Toggle between hiding and showing the active panel */
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                }
            }
            $(function() {
                var state = true;
                $( ".efectButton" ).on( "click", function() {
                  if ( state ) {
                    $( ".effect" ).animate({
                      width: '150%',
                    }, 1000 );
                  } else {
                    $( ".effect" ).animate({
                      width: '100%',
                    }, 1000 );
                  }
                  state = !state;
                });
            });
        </script>
    </dl>
{% endblock %}

